[Desktop Entry]
Name=GuiTuner
Comment=Simple guitar tuning program
Comment[pl]=Program do strojenia gitary
Icon=guituner_ico
Exec=guituner
Terminal=false
Type=Application
Categories=GTK;Audio;
# vi: encoding=utf-8
